mixin catalogSubmenu(name)
    .catalog-submenu.catalog-menu__sub
        .catalog-submenu__main
            .catalog-submenu__title #{name}
            .catalog-submenu__columns
                .catalog-submenu__column
                    .catalog-submenu__title2 По категориям
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Все матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Американские матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Элитные матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Круглые матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Наматрасники
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Детские матрасы
                .catalog-submenu__column
                    .catalog-submenu__title2 По бренду
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Askona
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") King Koil
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Mediflex
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Serta
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Sleep Professor
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Sleep.8
                .catalog-submenu__column
                    .catalog-submenu__title2 По размеру
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 080x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 090x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 120x190
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 120x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 140x190
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 140x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") 160x190
                .catalog-submenu__column
                    .catalog-submenu__title2 По свойстам
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Беспружинный
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Блок независимых пружин
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="kartochka-matrasi.html") Зависимый (боннель)
        .catalog-submenu__special
            a.catalog-submenu__special-link(href="kartochka-matrasi.html") 
                img.catalog-submenu__special-img(src="temp/catalog-menu/special-matrasi.png", alt="")